### Conditional Statements

In [3]:
num = -10

In [4]:
if num > 0 :
    print('Positive')
else:
    print('Negative')

Negative

In [9]:
age = 20

In [10]:
if age > 18:
    print('Congrats!!')
    print('You are Eligible')
else:
    print('Underage...')
    print('Try later.')

Congrats!!
You are Eligible

In [19]:
marks = 90

In [20]:
if marks >= 80:
    print('Distinction')
elif marks >= 60:
    print('First Class')
elif marks >= 50:
    print('Second Class')
else:
    print('Fail')

Distinction

### Loops - Execute repeatedly

In [23]:
for x in range(1,6):
    print(x)

1
2
3
4
5

In [24]:
for x in range(1,6):
    print(x*'*')

*
**
***
****
*****

In [28]:
for x in range(0,101,20):
    print(x)

0
20
40
60
80
100

In [29]:
for x in range(100,0,-20):
    print(x)

100
80
60
40
20

In [31]:
for x in range(5,0,-1):
    print(x*'*')

*****
****
***
**
*

In [32]:
lst = [11,22,33,44,55]

In [33]:
for x in lst:
    print(x)

11
22
33
44
55

#### While Loop

In [38]:
x = 0
while x < 5:
    print('Hello')
    x = x + 1
    
print('Completed')

Hello
Hello
Hello
Hello
Hello
Completed

### Functions in python

In [59]:
def square(x):
    '''
    Parameter: Pass a numeric value
    returns: The square of the parameter
    '''
    return x**2

In [43]:
square(10)

100

In [44]:
def grades(marks):
    if marks >= 80:
        res = 'Distinction'
    elif marks >= 60:
        res = 'First Class'
    elif marks >= 50:
        res = 'Second Class'
    else:
        res = 'Fail'
    return res

In [47]:
grades(58)

'Second Class'

In [62]:
def ticket_price(cls,coupon):
    '''
    parameters:
    cls - the class in upper or lower case
    coupon - 'y' or 'n' in upper or lower case
    '''
    discount = 0
    if cls.lower() == 'a':
            price = 50
    elif cls.lower() == 'b':
        price = 40
    else :
        price = 25
        
    if coupon.lower() == 'y':
        discount = price * 0.10
        
    total_price = price - discount
    
    return '$' + str(total_price)

In [63]:
ticket_price('a','y')

'$45.0'

In [ ]:
square()

### Lambda Functions
Anonymous or nameless functions

In [3]:
fn = lambda x : x**2

In [2]:
fn(9)

81

In [5]:
fn1 = lambda x,y: x + y

In [6]:
fn1(9,10)

19

In [7]:
def addition(x,y):
    return x + y

In [8]:
addition(8,9)

17